@charset "utf-8";
/* CSS Document */
body{
	background: url(./Lonely%20Night%20.png),no-repeat;
    background-size: cover;
    
	color: aqua;
}
.bload{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 8px;  
	font-size: 32px;
	
}
.downbox{
	text-decoration: none;
	color: inherit;
	background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 4px;
	font-size: 10px;

}
