*{
    user-select: none;



}
body{
    background: url(./风暴之眼.png),no-repeat;
    background-size: cover;
    font-size: 32px;

    
    
}
.box{
    width: 151px;
    height: 41px;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(100px);
    border: solid white;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;


}

@media screen{
}
